* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(rgb(231, 231, 231),rgb(136, 136, 136));
    
    
}

.main {
    min-height: 100vh;
}

.header {
    padding: 30px 0;
    font-family: 'Fredericka the Great', cursive;
    /* text-align: center; */
}

.header__title {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid--area {
    width: 600px;
    height: 500px;
}

.grid--hidden {
    display: none;
}

.grid__col {
    display: flex;
    position: relative;
    justify-content: center;
    overflow-y: hidden;
}

.grid__col--image:after {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: -25px;
    content: '';
    background-image: url("../svg/dirt.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.grid__col--3 {
    flex-basis: 33.33%;
}

.grid__col--12 {
    flex-basis: 100%;
}

.grid__item {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../svg/mole.svg");
    background-size: 40%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
}

.btn {
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;  
    cursor: pointer;
}

.btn:hover {
    font-size: 1.4rem;
    box-shadow: 0 0 13px rgb(247, 118, 12);
}

.btn--big {
    width: 250px;
    height: 75px;
}

.btn__icon {
    margin-right: 10px;
}